/* *{
    margin: 0px;
    padding: 0px;
} */

.button {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; 
}


.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.next {
  padding: 15px 20px;
  margin: 20px;
  max-width: 90%;
  box-sizing: border-box;
  border: 2px solid #007BFF;   /* Border added */
  border-radius: 6px;          /* Rounded corners */
  background-color: white;     /* Default background */
  color: #007BFF;              /* Text color */
  cursor: pointer;
  transition: all 0.3s ease;
}

.next:hover {
  background-color: #007BFF;
  color: white;
}


.active {
  background-color: blue;
  color: aliceblue;
  border-color: blue;
}


@media screen and (max-width: 992px) {
  .button {
    gap: 8px;
  }

   .next {
    padding: 12px;
    margin: 16px;
    width: auto;
  }
}


@media screen and (max-width: 576px) {
  .button {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

.next {
    padding: 12px;
    margin: 10px auto;
    width: 100%;
    text-align: center;
  }
}
